.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	font-weight: 700;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(101, 101, 240);
}
nav a:hover{
    background-color: darkgray;
}
nav{
    background-color: lightgray;
    text-align: center;
    box-shadow: 0 1px 10px gray;
    margin: 0 auto;
 }
 .responsive li {
	display: block;
}
#active{
    background-color: lightblue;
}
main{
    background-color: lightcyan;
    margin: 0 auto;
	padding: 20px;
	font-family: 'Antic Slab', serif;
}
footer{
	margin: 0 auto;
	background-color: lightgray;
	padding: 20px;
}
body{
	background-color:  rgb(173, 146, 235);
}
header{
    display: grid;
    grid-template-columns: 140px 1fr;
	margin: 0 auto;	
	justify-content: center;
}
.headerText{
	margin-left: 10px;
	text-align: left;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
	text-align: center;
}
h2{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}
p{
	font-family: 'Antic Slab', serif;
}
form{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}
form :nth-child(even){
	margin-top: 10px;
	margin-bottom: 10px;
}
section{
	background-color: lightblue;
	border: 1px solid;
	border-radius: 15px;
	margin: 10px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}
section h2{
	margin-left: 5px;
}
section p{
	margin-left: 5px;
}
footer h2{
	text-align: center;
}

img{
	width: 100%;
	max-width: 100%;
}
#CTA{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
#CTAimage{
	grid-column: 1/-1;
    grid-row: 1/-1;
}
#CTAtext{
	grid-column: 1/-1;
	grid-row: 1/-1;
}
#CTAtext a:hover{
	color: whitesmoke;
}
#CTAtext a{
	color:rgb(194, 179, 230);
}
.templeimage{
	max-width: 90%;
	max-height: 90%;
}
#picGrid{
	display: grid;
}
@media only screen and (min-width: 32.5em) {
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	nav a{
	 font-size: 20px;
	}
	section{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}
	#picGrid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

}

@media only screen and (min-width: 70.5em) {
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    nav{
        max-width: 1000px;
	}
	nav a{
		font-size: 25px;
	   }
	main{
        max-width: 1000px;
	}
	header{
        max-width: 1000px;
	}
	footer{
		max-width: 1000px;
	}
	#picGrid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}