
img{
    border-radius: 50%;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
.head{
    background-color: lightslategray;
    text-align: left;


}
th{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
tbody tr:hover{
    background-color: lightblue;
}
td{
    padding: 20px;    
}
table{
    border-collapse: collapse;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active i{
    color: green;
    font-size: 15px;
}
.active{
    background-color:lightgreen;
    padding: 10px;
    border-radius: 15px;
}
.waiting i{
    color: orange;
    font-size: 15px;
}
.waiting{
    background-color: yellow;
    border-radius: 15px;
    padding: 10px;
}